<section class="content">

  <div class="row">

    <div class="col-sm-3 col-xs-12">
      <a [routerLink]="'../usuarios'">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/user.png" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Usuários</span>
            
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3 col-xs-12">
      <a [routerLink]="'../estados'">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/state-flag.png" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Estados</span>
            
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3 col-xs-12">
      <a [routerLink]="'../cidades'">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/cidades.png" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Cidades</span>
            
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

  </div>

  

</section>