<section class="content">

  <div class="row">

    <div class="col-sm-4 col-xs-12">
        <a [routerLink]="'../usuarios'">
          <div class="info-box ">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
              <span class="place-info-box-text">Usuários</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
      </div>

  </div>

  <div class="row">

      <div class="col-sm-4 col-xs-12">
          <a [routerLink]="'../estados'">
            <div class="info-box ">
              <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-green"><i class="fa fa-flag"></i></span>
              <div class="info-box-content">
                <span class="place-info-box-text">Estados</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
        </div>

  </div>

  <div class="row">

      <div class="col-sm-4 col-xs-12">
          <a [routerLink]="'../cidades'">
            <div class="info-box ">
              <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-orange"><i class="fa fa-home"></i></span>
              <div class="info-box-content">
                <span class="place-info-box-text">Cidades</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </a>
        </div>

  </div>

  

</section>