
<div class="col-md-3">
    <div class="box box-warning box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Chat ({{qtdeLogados()}}) </h3>

        <div class="box-tools pull-right">
            
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul *ngFor="let user of listaLogados" class="list-group">
            
            <a *ngIf="user.AppUser !== usuarioLogado()" class="linkChat" (click)="navegarChatDirect(user)">
              <div class="row">
                  
                  <div class="col-sm-2 col-xs-12">
                      <img src="assets/user2-160x160.jpg" class="direct-chat-img" alt="User Image">
                  </div>

                  <div class="col-sm-10 col-xs-12">
                      <li class="list-group-item">{{user.AppUser}} <span *ngIf="renderizarSino(user)" class="badge bg-red">{{user.QtdeMsgNaoVisualizadas}}</span> </li>
                  </div>
              </div>
            </a>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>