
<ul class="nav navbar-nav">
<li class="dropdown user user-menu" >
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img [src]="renderizaImagemUsuario()" class="user-image" alt="User Image">
      <span class="hidden-xs">{{userLogin?.Nome}}</span>
    </a>
    <ul class="dropdown-menu" style="width:240px; left:-147px;">
      <!-- User image -->
      <li class="user-header">
        <img [src]="renderizaImagemUsuario()" class="img-circle" alt="User Image">
  
        <p>
          {{userLogin?.Nome}}
          <ng-container [ngSwitch]="userLogin?.Status">
             <small *ngSwitchCase="'online'"><i class="fa fa-circle text-success"></i> {{userLogin?.Status}}</small>
             <small *ngSwitchCase="'ocupado'"><i class="fa fa-circle text-danger"></i> {{userLogin?.Status}}</small>
             <small *ngSwitchCase="'offline'"><i class="fa fa-circle text-secondary"></i> {{userLogin?.Status}}</small>

             <small *ngSwitchDefault><i class="fa fa-circle text-danger"></i> Status não definido</small>
          </ng-container>
          
        </p>
      </li>
      <!-- Menu Body -->
      <li class="user-body">
        
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-right">
          <a href="#" (click)="onClickSair()" class="btn btn-default btn-flat">Sair</a>
        </div>
      </li>
    </ul>
  </li>
</ul>
