<div class="row">
  <div class="col-sm-6 col-xs-12">
  <div class="box box-danger direct-chat direct-chat-danger">
      <div class="box-header with-border">
        <h3 class="box-title">Chat</h3>
        <div class="box-tools pull-right">
         
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <!-- In box-tools add this button if you intend to use the contacts pane -->
          
          
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
          
          
          <!-- Mensagenm para a esquerda (outros usuarios) -->
          <div *ngFor="let chat of chatOutrosUsuarios" class="direct-chat-msg">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-left">{{chat.NomeUsuario}}</span>
              <span class="direct-chat-timestamp pull-right">{{chat.DataHora | date: 'dd/MM/yyyy hh:mm'}}</span>
            </div>
            <!-- /.direct-chat-info -->
            <img class="direct-chat-img" [src]="chat.CaminhoFoto" alt="message user image">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">
              {{chat.Mensagem}}
            </div>
            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->
    
          <!-- Mensagem para a direita (usuario logado) -->
          <div *ngFor="let chat of chatUsuarioLogado" class="direct-chat-msg right">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-right">{{chat.NomeUsuario}}</span>
              <span class="direct-chat-timestamp pull-left">{{chat.DataHora | date: 'dd/MM/yyyy hh:mm'}}</span>
            </div>
            <!-- /.direct-chat-info -->
            <img class="direct-chat-img" [src]="chat.CaminhoFoto" alt="message user image">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">
                {{chat.Mensagem}}
            </div>
            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->
        </div>
        <!--/.direct-chat-messages-->
    
        <!-- Contacts are loaded here -->
       
        <!-- /.direct-chat-pane -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <div class="input-group">
          <input type="text" name="message" placeholder="Digite aqui a mensagem =) ..." class="form-control">
          <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-flat">Enviar</button>
                    </span>
        </div>
      </div>
      <!-- /.box-footer-->
    </div>
  </div>
</div>