.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 0 0;
    position: absolute;
    top:60px;
    height: 80vh; 
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.emojiPosition {
    padding-right: 82px;
    z-index: 99;
    top: 32px;
}

.emojiPopVisivel { 
    position: fixed;
    top: 420px;
    left:250px;
    width: 355px;
    z-index: 999;
    visibility: visible;
}

.emojiPopInvisivel { 
    visibility: hidden;
    position: fixed;
}

.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}