<div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        <i class="fa fa-home"></i> Cidades
      </h1>
    </div>
  </div>

<app-botaonovolistar (clickBotaoNovo)="onNewClick()" (clickBotaoListar)="onList()"></app-botaonovolistar>

<app-listfilter (sendDataToParent)="filtrarLista($event)"></app-listfilter>

<div class="spinner-container loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

  <div class="row">
      <div class="col-xs-12">

      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
        <ng-container matColumnDef="actionsColumn" >
            <mat-header-cell *matHeaderCellDef >  </mat-header-cell>
            <mat-cell *matCellDef="let row" >
                <button class="btn btn-link btn-sm" (click)="onEditClicked(row)" focusable="false" >
                    <i class="fa fa-pencil"></i>
                </button>
            </mat-cell>
          </ng-container>

        <ng-container matColumnDef="Codigo" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.Id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.Nome}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CodigoIbge">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cod IBGE </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.CodigoIbge}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.Estados.Nome}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Populacao2010">
          <mat-header-cell *matHeaderCellDef mat-sort-header> População 2010 </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.Populacao2010}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DensidadeDemo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Densidade </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.DensidadeDemo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Gentilico">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Gentilico </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.Gentilico}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Area">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Área </mat-header-cell>
          <mat-cell *matCellDef="let cidades"> {{cidades.Area}} </mat-cell>
        </ng-container>
       

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns; " 
          [ngClass]="{'highlight': selectedRowIndex == row.Id}"
          (click)="onRowClicked(row)"
          (dblclick)="onDblClicked(row)">
        </mat-row>

      </mat-table>

      <mat-paginator [length]="0" [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 15]"></mat-paginator>

  </div>
</div>