<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

     <form [formGroup]="cadForm" novalidate>

        <div class="row">
            <div class="col-sm-12">
              <h2 class="page-header">
                <i class="fa fa-home"></i> Cadastro de Cidade
              </h2>
            </div>
          </div>

        <div class="row">

          <div class="col-sm-2">
            <app-input-container label="Código">
              <input class="form-control" formControlName="Id" placeholder="Código" autocomplete="off">
            </app-input-container>
          </div>

          <div class="col-sm-2">
            <app-input-container label="Cód IBGE" errorMessage="Campo obrigatório">
              <input class="form-control" formControlName="CodigoIbge" placeholder="Cód IBGE" autocomplete="off">
            </app-input-container>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-4">
              
              <app-input-container label="Nome" errorMessage="Campo obrigatório" isNew="isNew()">
                <input class="form-control" formControlName="Nome" placeholder="Nome" autocomplete="off">
              </app-input-container>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
               
              <app-autolist controllern="Estados" label="Estado"  formControlName="Estado"></app-autolist>

            </div>
        </div>

          <div class="row">
            <div class="col-sm-2">
                
                <app-input-container label="Pop 2010" errorMessage="Campo obrigatório" isNew="isNew()">
                  <input class="form-control" formControlName="Populacao2010" placeholder="Pop. 2010" autocomplete="off" >
                </app-input-container>
            </div>

            <div class="col-sm-2">
                
              <app-input-container label="Densidade" errorMessage="Campo obrigatório" isNew="isNew()">
                <input class="form-control" formControlName="DensidadeDemo" placeholder="Densidade" autocomplete="off" >
              </app-input-container>
           </div>

          </div>

          <div class="row">
            <div class="col-sm-2">
                
                <app-input-container label="Gentilico" errorMessage="Campo obrigatório" isNew="isNew()">
                  <input class="form-control" formControlName="Gentilico" placeholder="Gentilico" autocomplete="off" >
                </app-input-container>
            </div>

            <div class="col-sm-2">
                  
              <app-input-container label="Área" errorMessage="Campo obrigatório" isNew="isNew()">
                <input class="form-control" formControlName="Area" placeholder="Área" autocomplete="off" >
              </app-input-container>
            </div>
        </div>

      </form> 

      <app-botoescadastro [ehNovo]="isNew()" [ehFormValido]="cadForm.valid" (clickBotaoNavegarLista)="navegarParaLista()"
      (clickBotaoRemover)="remove()" (clickBotaoSalvar)="save()"></app-botoescadastro>

    </section>
  </section>