<h3 class="control-sidebar-heading">Atividades</h3>
  <ul class="control-sidebar-menu">
    <li>
      <a href="javascript:void(0)">
        <i class="menu-icon fa fa-birthday-cake bg-red"></i>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">Aniversário João Paulo</h4>

          <p>Será em 25/12/2018</p>
        </div>
      </a>
    </li>
    
  </ul>
  <!-- /.control-sidebar-menu -->

  <h3 class="control-sidebar-heading">Progresso</h3>
  <ul class="control-sidebar-menu">
    <li>
      <a href="javascript:void(0)">
        <h4 class="control-sidebar-subheading">
          Enviar projeto
          <span class="label label-danger pull-right">70%</span>
        </h4>

        <div class="progress progress-xxs">
          <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
        </div>
      </a>
    </li>
    
  </ul>