<section class="content">

  <div class="row">

    <div class="col-sm-6">
      <a [routerLink]="'materiais'">
        <div class="info-box ">
          <!-- Apply any bg-* class to to the icon to color it -->
          <span class="info-box-icon bg-red"><i class="fa fa-sticky-note"></i></span>
          <div class="info-box-content">
            <span class="place-info-box-text">Materiais</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>
    <!-- /.info-box -->

    <div class="col-sm-6">
      <a [routerLink]="'configuracoes'">
        
        <div class="info-box ">
          <!-- Apply any bg-* class to to the icon to color it -->
          <span class="info-box-icon bg-green"><i class="fa fa-cogs"></i></span>
          <div class="info-box-content">
            <span class="place-info-box-text">Configurações</span>
            
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

  </div>

  <app-chat></app-chat>

</section>