<section class="content">

  <div class="row">

    <div class="col-sm-4 col-xs-12">
      <a [routerLink]="'materiais'">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/materiais.png" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Materiais</span>
            
            <span class="place-info-box-detail">Categoria</span>
            <span class="place-info-box-detail">Detalhe</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

    <div class="col-sm-4 col-xs-12">
      <a [routerLink]="'configuracoes'">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/configuracoes.png" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Configurações</span>
            <span class="place-info-box-detail"><a [routerLink]="'usuarios'" class=""><i class="fa fa-user"></i> Usuários </a></span>
            <span class="place-info-box-detail"><a [routerLink]="'estados'" class=""><i class="fa fa-home"></i> Estados </a></span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

  </div>

</section>