<section class="content">

  <div class="row">

    <div class="col-sm-4 col-xs-12">
      <a [routerLink]="'materiais'">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/materiais.png" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Materiais</span>
            
            <span class="place-info-box-detail">Categoria</span>
            <span class="place-info-box-detail">Detalhe</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

    <div class="col-sm-4 col-xs-12">
      <a href="#">
        <div class="place-info-box">
          <span class="place-info-box-icon"><img src="assets/pedidos.jpg" /></span>
      
          <div class="place-info-box-content">
            <span class="place-info-box-text">Pedidos</span>
            
            <span class="place-info-box-detail">Categoria</span>
            <span class="place-info-box-detail">Detalhe</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
    </div>

  </div>

</section>