
  .place-info-box-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 90%;
    float: left
  }

  