.skin-blue .main-header .navbar { background-color:#489CEA !important }
.logo { background-color: #489CEA !important }
.skin-blue .main-header li.user-header { background-color: #222d32 !important }

.btn-space {
    margin-right: 5px;
}

  /* Absolute Center Spinner */
  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }