<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

     <form [formGroup]="cadForm" novalidate>

        <div class="row">
            <div class="col-sm-12">
              <h2 class="page-header">
                <i class="fa fa-user"></i> Cadastro de Usuário
              </h2>
            </div>
          </div>

        <div class="row">
        
          <div class="col-sm-2">
            <app-input-container label="Código">
              <input class="form-control" formControlName="Id" placeholder="Código" autocomplete="off">
            </app-input-container>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-4">
              
              <app-input-container label="Usuário" errorMessage="Campo obrigatório" isNew="isNew()">
                <input class="form-control" formControlName="Nome" placeholder="Usuário" autocomplete="off" oninput="this.value = this.value.toUpperCase()">
              </app-input-container>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
              
              <app-input-container label="Nome" errorMessage="Campo obrigatório" isNew="isNew()">
                <input class="form-control" formControlName="NomeCompleto" placeholder="Nome" autocomplete="off">
              </app-input-container>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                
                <app-input-container label="Senha" errorMessage="Campo obrigatório" isNew="isNew()">
                  <input input type="password" class="form-control" formControlName="Senha" placeholder="Senha" autocomplete="off" >
                </app-input-container>
            </div>
          </div>

          <div class="row">
              <div class="col-sm-4">
                  
                  <app-input-container label="Confirmar Senha" errorMessage="Campo obrigatório" isNew="isNew()">
                    <input input type="password" class="form-control" formControlName="ConfirmarSenha" placeholder="Confirmar Senha" autocomplete="off" >
                  </app-input-container>
              </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <span class="help-block pull-right has-error-block" *ngIf="cadForm.hasError('senhaNaoEIgual')"><i class="fa fa-remove"></i> Senhas não conferem</span>
            </div>
        </div>
        

      </form> 

      <app-botoescadastro [ehNovo]="isNew()" [ehFormValido]="cadForm.valid" (clickBotaoNavegarLista)="navegarParaLista()"
      (clickBotaoRemover)="remove()" (clickBotaoSalvar)="save()"></app-botoescadastro>

    </section>
  </section>